@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/***************/
/* YOUR STYLES */
/***************/

#persona {
    width: 600px;
}

/* Color Palette */
.color-1 {
    background: #0F5C8C;
}
.color-2 {
    background: #11698C;
}
.color-3 {
    background: #1F788C;
}
.color-4 {
    background: #F2A391;
}
.color-5 {
    background: #D9593D;
}

/* Textures or Patterns*/
.pattern-1 {
    background: url("http://www.textureking.com/content/img/stock/big/DSC_4438.JPG") no-repeat;
    background-size: cover;
}
.pattern-2 {
    background: url("http://img07.deviantart.net/5594/i/2012/118/8/3/textures_49_by_sophiefzy-d4xtjbw.jpg") no-repeat;
    background-size: cover;
}
.pattern-3 {
    background: url("http://bgfons.com/upload/pattern_texture1171.jpg") no-repeat;
    background-size: cover;
}
.pattern-4 {
    background: url("http://img07.deviantart.net/45d0/i/2009/203/7/3/metal_bolt_texture_by_fantasystock.jpg") no-repeat;
    background-size: cover;
}
.pattern-5 {
    background: url("https://s-media-cache-ak0.pinimg.com/736x/c3/cb/9e/c3cb9ee8cf711b5ee86e82a3e2dc183c.jpg") no-repeat;
    background-size: cover;
}

/* Imagery */
.imagery-1 {
    width: auto;
    height: auto;
}


/* Icons */
.icon-1 {
    border: none;
}
.icon-2 {
    border: none;
}
.icon-3 {
    border: none;
}
.icon-4 {
    border: none;
}
.icon-5 {
    border: none;    
}

/* Navigation */

nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav a:link {
    color: #1F788C;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #1F788C;
}

a:link {
    text-decoration: none;
    color: #1F788C;
}

button {
    padding: 1em;
    border: 0;
    background: #1F788C;
    color: white;
    border-radius: 4px;
    margin: 0;
}

/* Typography */

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #D9593D;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #D9593D;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #888;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #999;
}